useDynLib(SpaCCI, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(nnls, nnls)
importFrom(ggrepel, geom_text_repel)
importFrom(circlize, chordDiagram)
importFrom(Matrix, Matrix)
importFrom(Seurat, SpatialFeaturePlot)
importFrom(CellChat, subsetDB)
importFrom(dplyr, filter, group_by, summarise, left_join, mutate)
importFrom(patchwork, wrap_plots)
importFrom(grDevices, colorRampPalette)
importFrom(reshape2, acast)
importFrom(graphics, title)
