---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* Import Minimal Mistakes theme core styles */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&family=Open+Sans&display=swap');

/* Apply ABeeZee to the site title (top left corner) */
.site-title {
  font-family: 'ABeeZee', sans-serif !important;
  font-weight: bold;
  color: #94C47D !important; /* Change this color */
  font-size: 1.5rem !important; 
}

.page__title {
  font-family: 'ABeeZee', sans-serif !important;
  font-size: 2.5rem !important; 
}


.greedy-nav .visible-links a {
  font-family: 'ABeeZee', sans-serif !important;
  color: #38a3a5 !important;
  font-size: 1.2rem !important; 
}


.greedy-nav .visible-links a:hover:before {
  background: #83c5be !important; /* Change hover underline color */
}

/* Font and color for the GitHub */
a[title="GitHub"]::before {
  content: url("https://raw.githubusercontent.com/LitingKu/SpaCCI/main/docs/github-logo.svg") !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px !important; /* Adjust size */
  height: 20px !important; /* Adjust size */
}

a[title="GitHub"] {
  font-family: 'ABeeZee', sans-serif !important;
  color: #38a3a5 !important;
  font-size: 1.2rem !important;
}

a[title="GitHub"]:hover::before {
  background: #83c5be !important; /* Change hover underline color */
}


/* Font and color for the sidebar links */
.sidebar .nav__list  {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.sidebar .nav__title  {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.sidebar .nav__items a {
  color: #94C47D !important;
  padding: 0.25rem 0;
}

.sidebar .nav__items a:hover {
  text-decoration: underline;
  color: #83c5be !important;
}
