---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* Import Minimal Mistakes theme core styles */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&family=Open+Sans&display=swap');

/* Apply ABeeZee to the site title (top left corner) */
.site-title {
  font-family: 'ABeeZee', sans-serif !important;
  font-weight: bold;
  color: #83c5be !important; /* Change this color */
}

.page__title {
  font-family: 'ABeeZee', sans-serif !important;
}


.masthead .site-nav .nav__link {
  font-family: 'Roboto', sans-serif !important;
  color: #83c5be !important;
}

.masthead .site-nav .nav__link:hover {
  color: #FF9800 !important;
}


