---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&family=Open+Sans&display=swap');

/* Apply ABeeZee to the site title (top left corner) */
.site-title {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  color: #83c5be; /* Change this color */
}

/* Apply Roboto to the navigation links (About, Tutorial, etc.) */
.navbar .nav a {
  font-family: 'Roboto', sans-serif;
  color: #83c5be; /* Change this color */
}

.navbar .nav a:hover {
  color: #FF9800; /* Change this to your hover color */
}

/* Apply Open Sans to the page title (e.g., Welcome to SpaCCI) */
.page-header {
  font-family: 'ABeeZee', sans-serif;
  color: #2196F3;  /* Change this color */
}

/* Apply Open Sans to the entire body */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;  /* Global text color */
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



