---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* Import Minimal Mistakes theme core styles */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&family=Open+Sans&display=swap');

/* Apply ABeeZee to the site title (top left corner) */
.site-title {
  font-family: 'ABeeZee', sans-serif !important;
  font-weight: bold;
  color: #94C47D !important; /* Change this color */
  font-size: 2.5rem !important; 
}

.page__title {
  font-family: 'ABeeZee', sans-serif !important;
  font-size: 2rem !important; 
}


.greedy-nav .visible-links a {
  font-family: 'ABeeZee', sans-serif !important;
  color: #94C47D !important;
  font-size: 1.2rem !important; 
}

.greedy-nav .visible-links a:hover:before {
  background: #83c5be !important; /* Change hover underline color */
}


/* Font and color for the sidebar links */
.sidebar__nav .nav__items a {
  font-family: 'Roboto', sans-serif;
  color: #4CAF50; /* Sidebar link color */
}

.sidebar__nav .nav__items a:hover {
  color: #FF9800; /* Sidebar hover color */
}

.sidebar__nav .nav__items .active {
  color: #94C47D !important; /* Active link color */
}

